.channel {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    
  }

  .channel img {
    max-width: 100px;
    margin-right: 20px;
  }

  #channel-list {
    padding: 100px;
  }

  .wall {
    border: black 3px solid;
    height: 100px;
    margin-right: 15px;
}
  

